---
import { Image } from 'astro:assets';
import astroLogo from '@assets/logos/astro.svg'
import reactLogo from '@assets/logos/react.svg'
import typescriptLogo from '@assets/logos/typescript.svg'
import framerLogo from '@assets/logos/framer.svg'
import cloudflarePagesLogo from '@assets/logos/cloudflarepages.svg'
import tailwindLogo from '@assets/logos/tailwind.svg'

interface Tech {
  name: string;
  logo: ImageMetadata;
}

const techStack: Tech[] = [
{ name: 'Astro', logo: astroLogo },
{ name: 'React', logo: reactLogo },
{ name: 'TypeScript', logo: typescriptLogo },
{ name: 'Tailwind CSS', logo: tailwindLogo },
{ name: 'Framer Motion', logo: framerLogo },
{ name: 'Cloudflare Pages', logo: cloudflarePagesLogo }
  
];
---

<div>
    <p
      class="text-xl tracking-tight text-primary dark:text-white md:text-2xl"
    >
      About this website
    </p>
    <p class="mt-4 text-sm lg:text-lg text-zinc-500 dark:text-zinc-400 font-light">
      Design influences:
      <br />
      🖤 Beautiful dark-themed websites like Linear.app and Diagram.com.
      <br />
      🐱 Catppuccin Mocha Palette
      <br />
      🍱 Bento UI trend
      <br />
      <br />
      Source code
      <br />
      <br />
      Built with
      <div class="flex flex-wrap gap-2 mt-2">
          {techStack.map((tool) => (
            <div class="flex items-center bg-gray-200 dark:bg-secondary-light dark:text-gray-200 text-sm font-light rounded-full px-3 py-1">
                <Image src={tool.logo} alt={tool.name} width={20} height={20} class="mr-2 max-h-5" />

              <span>{tool.name}</span>
            </div>
          ))}
          </div>
</p>
</div>