---
import { Image } from 'astro:assets';
import astroLogo from '@assets/logos/astro.svg'
import claudeLogo from '@assets/logos/claude.svg'
import tailwindLogo from '@assets/logos/tailwind.svg'
import webflowLogo from '@assets/logos/webflow.svg'
import figmaLogo from '@assets/logos/figma.svg'
import nodejsLogo from '@assets/logos/nodejs.svg'
import procreateLogo from '@assets/logos/procreate.svg'
import midjourneyLogo from '@assets/logos/midjourney.svg'
import postgresqlLogo from '@assets/logos/postgresql.svg'
import reactLogo from '@assets/logos/react.svg'
import typescriptLogo from '@assets/logos/typescript.svg'
import javascriptLogo from '@assets/logos/javascript.svg'
import pythonLogo from '@assets/logos/python.svg'
import solidjsLogo from '@assets/logos/solidjs.svg'
import gatsbyLogo from '@assets/logos/gatsby.svg'
import jestLogo from '@assets/logos/jest.svg'
import cypressLogo from '@assets/logos/cypress.svg'

interface Tool {
  name: string;
  logo: ImageMetadata;
}

interface Category {
  name: string;
  tools: Tool[];
}

const categories: Category[] = [
  {
    name: 'Languages',
    tools: [
    { name: 'TypeScript', logo: typescriptLogo },
      { name: 'JavaScript', logo: javascriptLogo },
      { name: 'Python', logo: pythonLogo },
    ],
  },
  {
    name: 'Front-end',
    tools: [
      { name: 'React', logo: reactLogo },
      { name: 'SolidJS', logo: solidjsLogo },
      { name: 'Astro', logo: astroLogo },
      { name: 'Tailwind CSS', logo: tailwindLogo },
      { name: 'Webflow', logo: webflowLogo }
    ],
  },
  {
    name: 'Testing',
    tools: [
    { name: 'Jest', logo: jestLogo },
      { name: 'Cypress', logo: cypressLogo },
    ],
  },
  {
    name: 'Back-end',
    tools: [
    { name: 'Node.js', logo: nodejsLogo },
      { name: 'PostgreSQL', logo: postgresqlLogo },
    ],
  },
  {
    name: 'Design',
    tools: [
      { name: 'Figma', logo: figmaLogo }
    ],
  },
  {
    name: 'AI',
    tools: [
      { name: 'Claude', logo: claudeLogo },
      { name: 'Midjourney', logo: midjourneyLogo },
    ],
  },
];
---

<div class="max-w-3xl mx-auto dark:text-white">
    <h2 class="text-xl mb-6">My tech stack</h2>
    {categories.map((category) => (
      <div class="mb-8">
        <h3 class="mb-2 dark:text-gray-400">{category.name}</h3>
        <div class="flex flex-wrap gap-2">
          {category.tools.map((tool) => (
            <div class="flex items-center bg-gray-200 dark:bg-secondary-light dark:text-gray-200 text-sm font-light rounded-full px-3 py-1">
                <Image src={tool.logo} alt={tool.name} width={20} height={20} class="mr-2 max-h-5" />

              <span>{tool.name}</span>
            </div>
          ))}
        </div>
      </div>
    ))}
  </div>